<!-- BEGIN LOGIN FORM -->
<form class="login-form" role="form" data-ng-submit="Login()">
    <div class="form-title">
        <span class="form-title">Welcome.</span>
        <span class="form-subtitle">Please Login.</span>
    </div>
    <div class="alert alert-danger {{errorClass()}}">
        <button class="close" data-close="alert"></button>
        <span>
            Check your username and password!
        </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="loginEmail" type="text" autocomplete="off" placeholder="Email" name="username" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="loginPassword" type="password" autocomplete="off" placeholder="Password" name="password" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn red btn-block uppercase">LOGIN</button>
    </div>
</form>
<!-- END LOGIN FORM -->