body {
}

/*table {
    border: 1px solid #E7E7E7;
    text-align: left;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

.page-header {
    margin-top: 0;
    margin-left: 6px;
}

.login-page-form {
    max-width: 440px;
    padding-top: 40px;
    margin: 0 auto;
}

.login-page-container {
    max-width: 600px;
}

.login-page-article {
    /*background-color: #333;
    color: #fff;*/
    height: 100%;
    position: absolute;
    width: 100%;
}

.login-page-column {
    padding-bottom: 20px;
}

#node-share-article .breadcrumb {
    margin-bottom: 0;
    background-color: inherit;
}

#document-search-node-path {
    margin-bottom: 0;
    background-color: inherit;
}